SECRET_KEY="replace-with-a-random-secret"
# DEBUG can be 0 or 1 (1 Means true)
DEBUG = 0
ALLOWED_HOSTS =["127.0.0.1", "localhost", "0.0.0.0"]
CSRF_TRUSTED_ORIGINS ='["http://localhost:8000", "http://127.0.0.1:8000"]'

# Docker Settings
COMPOSE_PROJECT_NAME=fx_portal_backend
COMPOSE_FILE=docker-compose-dev.yaml
COMPOSE_HTTP_TIMEOUT=86400
PORT=8000

# BACKEND CONFIG
PROJECT_NAME=trading
API_ENVIRONMENT=development
CORS_ALLOW_ALL_ORIGINS=false
CORS_ALLOWED_ORIGINS=[]
CORS_ALLOW_CREDENTIALS=false
LOG_LEVEL=INFO
BACKEND_PORT=
BACKEND_HOST=
# 1 or 0, where 0 = False and 1 = True
RATE_LIMIT=1
PAPER_TRADING_ONLY=true

# LOGGING
ADMINS="username,username@example.com"
STATSD_HOST="statsd-exporter:9125"
STATSD_PREFIX="fx"

# Database settings
DB_NAME='fxportal'
DB_USER='postgres'
DB_PASSWORD='replace-me'
DB_HOST='localhost'
DB_PORT='5432'
BACKUP_INTERVAL_SECONDS=86400
BACKUP_RETENTION_DAYS=14

# REDIS CONFIG
REDIS_PASSWORD=replace-me
REDIS_PORT=6379
REDIS_POOL_MAX_CONNECTIONS=10
REDIS_DATABASE=0
REDIS_HOST=redis
REDIS_EXPIRE_KEY=3600


# SERVER CONFIG gunicorn_conf.py
# https://docs.gunicorn.org/en/stable/settings.html#settings
GUNICORN_KEEP_ALIVE=5
GUNICORN_TIMEOUT=60
GUNICORN_GRACEFUL_TIMEOUT=60
GUNICORN_ACCESS_LOG="-"
GUNICORN_ERROR_LOG="-"
GUNICORN_WORKERS_PER_CORE=1
GUNICORN_MAX_WORKERS=100
GUNICORN_MAX_REQUESTS=10
# GUNICORN_WEB_CONCURRENCY=3

# EMAIL CONFIG
EMAIL_HOST=""
EMAIL_PORT=
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""

# CLIENT
FRONTEND_URL=""

# CELERY
FLOWER_USERNAME=""
FLOWER_PASSWORD=""

# SMS
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_SEND_FROM_NUMBER=""

# ALPACA
API_KEY_ALPACA=
API_SECRET_ALPACA=

# NEWS
NEWS_DATA_API_KEY=
POLYGON_API_KEY=
TWELVE_DATA_API_KEY=
TWELVE_DATA_REST_URL=https://api.twelvedata.com/time_series
TWELVE_DATA_WEBSOCKET_URL=wss://ws.twelvedata.com/v1/quotes/price
FIXER_API_KEY=
CORS_ALLOW_ALL_ORIGINS=false
CORS_ALLOW_CREDENTIALS=false
CORS_ALLOWED_ORIGINS=["https://tradx.io"]
RATE_LIMIT=true

# COINMARKETCAP
COINMARKETCAP_API_KEY=
COINMARKETCAP_URL=
