<!DOCTYPE html>
<html>

<head>
    <title>HTML email template</title>
    <meta name="viewport" content="width = 375, initial-scale = -1">
</head>

<body style="background-color: #ffffff; font-size: 16px; font-family: Arial, sans-serif;">
    <table style="height:100%; width:600px; text-align:center; border:none;">
        <tr>
            <td style="padding:30px">
                <p style="text-align:left">Hello, {{user.first_name}} <br><br> We received a request to verify email address. To initiate the email verification process for your account, click the link
                    below.
                </p>
                <p>
                    <a target="_blank"
                        style="text-decoration:none; background-color: black; border: black 1px solid; color: #fff; padding:10px 10px; display:block;"
                        href="{{ frontend_url }}/verify-email?uidb64={{uid}}&token={{token}}">
                        <strong>Verify Email</strong></a>
                </p>
                <p style="text-align:left">This link can only be used once. If you need this link again for any reason,
                    please visit <a href="{{ frontend_url }}">{{ frontend_url }}</a> and request another
                    email verification link.<br><br>If you did not make this request, you can simply ignore this email.</p>
                <p style="text-align:left">
                    Sincerely,<br>Beyvra Team
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</body>

</html>
